name: Assembler Validation

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'assembler/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'assembler/**'

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 2
    defaults:
      run:
        working-directory: assembler/

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build
      run: cargo build --verbose
      
    - name: Run tests
      run: cargo test --verbose
