# Builds and publishes artifacts to GitHub release
name: Release

on:
  release:
    types: [published]
    
permissions:
  contents: write
    
jobs:
  release-assembler:
    name: Release Assembler Artifacts
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: assembler/
    env:
      CARGO_TERM_COLOR: always

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Build
      run: cargo build --release --verbose
      
    - name: Make artifacts directory
      run: mkdir ${{ github.workspace }}/artifacts
      
    - name: Rename artifact for release
      run: mv target/release/ablomm_asm ${{ github.workspace }}/artifacts/assembler
      
    - name: Upload artifacts to GitHub release 
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts/*
    
  release-cpu:
    name: Release CPU Artifacts
    runs-on: ubuntu-latest
    timeout-minutes: 5
    defaults:
      run:
        working-directory: cpu/

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install Icarus Verilog and Verilator
      run: sudo apt-get install -y iverilog verilator
      
    - name: Build
      run: ./scripts/build_simulator.sh
      
    - name: Make artifacts directory
      run: mkdir ${{ github.workspace }}/artifacts
      
    - name: Rename Icarus Veirlog artifact for release
      run: mv build/iverilog/Vsimulator ${{ github.workspace }}/artifacts/iverilog_simulator
      
    - name: Rename Verilator artifact for release
      run: mv build/verilator/Vsimulator ${{ github.workspace }}/artifacts/verilator_simulator
      
    - name: Upload artifacts to GitHub release
      uses: softprops/action-gh-release@v2
      with:
        files: artifacts/*
